In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('C:\\Users\\KIM SEUNG WOO\\Myexam\\chromedriver\\chromedriver.exe')
url = 'https://comic.naver.com/navercontest/2021/top16'
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [7]:
soup.find('em')

In [8]:
soup.find('em').get_text()

'0'

In [6]:
em_list = soup.find_all('em')[9:]

In [7]:
em_list

[<em>0</em>,
 <em>22,566</em>,
 <em>14,227</em>,
 <em>19,445</em>,
 <em>0</em>,
 <em>16,739</em>,
 <em>13,803</em>,
 <em>27,975</em>,
 <em>21,532</em>,
 <em>16,671</em>,
 <em>17,789</em>,
 <em>20,685</em>,
 <em>15,505</em>,
 <em>16,526</em>,
 <em>18,058</em>,
 <em>19,315</em>]

In [9]:
for em in em_list:
    print(em.get_text())

0
22,566
14,227
19,445
0
16,739
13,803
27,975
21,532
16,671
17,789
20,685
15,505
16,526
18,058
19,315

In [21]:
soup.select('a > div > strong')[0].text

'혁명빌런'

In [33]:
soup.select('a > div > div.vote > em')[0].text

'0'

In [35]:
toons = soup.select('a > div.text')
for toon in toons:
    title = toon.select('strong')[0].text
    vote = toon.select('div.vote > em')[0].text
    print(title, vote, sep = ' | ')

혁명빌런 | 0
선을 넘은 연애 | 22,566
착하게, 완벽하게! | 14,227
(N)Ever Ending Story | 19,445
로판극혐 | 0
신이 내린 주연 | 16,739
100일의 목소리 | 13,803
악취 해결사 | 27,975
주작연애! | 21,532
흔들리는 세계로부터 | 16,671
반혼 | 17,789
뷰티풀 룸쉐어 라이프 | 20,685
고인물은 아가야 | 15,505
소울파이 | 16,526
원하나 | 18,058
네가 되는 법 | 19,315

In [36]:
toon_data = []

toons = soup.select('a > div.text')
for toon in toons:
    title = toon.select('strong')[0].text
    vote = toon.select('div.vote > em')[0].text
    toon_data.append([title, vote])

In [37]:
toon_data

[['혁명빌런', '0'],
 ['선을 넘은 연애', '22,566'],
 ['착하게, 완벽하게!', '14,227'],
 ['(N)Ever Ending Story', '19,445'],
 ['로판극혐', '0'],
 ['신이 내린 주연', '16,739'],
 ['100일의 목소리', '13,803'],
 ['악취 해결사', '27,975'],
 ['주작연애!', '21,532'],
 ['흔들리는 세계로부터', '16,671'],
 ['반혼', '17,789'],
 ['뷰티풀 룸쉐어 라이프', '20,685'],
 ['고인물은 아가야', '15,505'],
 ['소울파이', '16,526'],
 ['원하나', '18,058'],
 ['네가 되는 법', '19,315']]

In [38]:
import pandas as pd
columns = ['타이틀', '득표']
pd_data = pd.DataFrame(toon_data, columns = columns)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   타이틀     16 non-null     object
 1   득표      16 non-null     object
dtypes: object(2)
memory usage: 384.0+ bytes

In [39]:
pd_data

                     타이틀      득표
0                   혁명빌런       0
1               선을 넘은 연애  22,566
2             착하게, 완벽하게!  14,227
3   (N)Ever Ending Story  19,445
4                   로판극혐       0
5               신이 내린 주연  16,739
6              100일의 목소리  13,803
7                 악취 해결사  27,975
8                  주작연애!  21,532
9             흔들리는 세계로부터  16,671
10                    반혼  17,789
11           뷰티풀 룸쉐어 라이프  20,685
12              고인물은 아가야  15,505
13                  소울파이  16,526
14                   원하나  18,058
15               네가 되는 법  19,315

In [44]:
sort_data = pd_data.sort_values(by=['득표'],axis=0,ascending=False)

In [48]:
rank = 1
rank = rank + 1
sort_data.drop([rank])

                     타이틀      득표
7                 악취 해결사  27,975
1               선을 넘은 연애  22,566
8                  주작연애!  21,532
11           뷰티풀 룸쉐어 라이프  20,685
3   (N)Ever Ending Story  19,445
15               네가 되는 법  19,315
14                   원하나  18,058
10                    반혼  17,789
5               신이 내린 주연  16,739
9             흔들리는 세계로부터  16,671
13                  소울파이  16,526
12              고인물은 아가야  15,505
6              100일의 목소리  13,803
0                   혁명빌런       0
4                   로판극혐       0

In [51]:
sort_data[0:8]

                     타이틀      득표
7                 악취 해결사  27,975
1               선을 넘은 연애  22,566
8                  주작연애!  21,532
11           뷰티풀 룸쉐어 라이프  20,685
3   (N)Ever Ending Story  19,445
15               네가 되는 법  19,315
14                   원하나  18,058
10                    반혼  17,789